<!-- Team Taskboard Page -->
{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <h2 class="mb-4">Team Taskboard</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-secondary text-white">To Do</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Fix Upwork API</li>
          <li class="list-group-item">Create login page</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-info text-white">In Progress</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Proposal formatting</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-success text-white">Completed</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Job parser setup</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}